* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #373002d8, #f1ededda);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(79, 3, 3, 0.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(87, 27, 27, 0.9);
    box-shadow: 5px 5px 15px rgba(127, 125, 125, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 50px;
}

.relogio span.tempo {
    font-size: 20px;
}
